.chat {
    flex: 2;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    height: 100%;
}

.chat .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
}

.chat .top .user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat .top .user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .top .user .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat .top .user span {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.chat .top .user p {
    font-size: 14px;
    color: white;
}

.chat .top .icons {
    display: flex;
    gap: 20px;
}

.chat .top .icons img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.chat .center {
    padding: 20px;
    flex: 1;
    margin-top: auto;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chat .center .message {
    max-width: 70%;
    display: flex;
    gap: 20px;
    color: white;
}

.chat .center .message.own {
    align-items: flex-end;
    margin-left: auto;
}

.chat .center .message img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .center .message .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat .center .message.own .texts p {
    background-color: rgba(41, 158, 255, 0.3);
    color: white;
    padding : 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 1, 0.3);
}

.chat .center .message .texts p {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(41, 158, 255, 0.65);
}

.chat .center .message .texts span {
    font-size: 13px;
    align-self: flex-end;
    margin-right: 4px;
}

.chat .center .message .texts img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.chat .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    gap: 20px;
}

.chat .bottom .icons {
    display: flex;
    gap: 20px;
}

.chat .bottom .emoji img,
.chat .bottom .icons img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.chat .bottom input {
    flex: 1;
    background-color: rgba(30, 30, 30, 0.8);
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
}

.chat .bottom input::placeholder {
    color: white;
}

.chat .bottom .sendButton {
    background-color: rgba(41, 158, 255, 0.8);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.chat .bottom .emoji {
   position: relative;
}

.chat .bottom .emoji .picker {
    position: absolute;
    bottom: 50px;
    left: 0;
}

