* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("../public/assets/images/background-image.png");
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;   
  height: 100vh;                  
  width: 100vw;                   
  margin: 0;                      
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90vw;
  height: 90vh;
  display: flex;
  
  background-color: rgba(253, 226, 190, 0.75);
  backdrop-filter: blur(19px) staturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}